::selection {
    background: #cc6699;
}

img {
      width: auto ;
        max-width: 100% ;
          height: auto ;
}

@font-face {
    font-family: Hermit;
    src: url("../crdpa.github.io/Hermit-Regular.otf") format('opentype');
    font-style: normal;
}

@font-face {
    font-family: Hermit;
    src: url("../crdpa.github.io/Hermit-Bold.otf") format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: Hermit, Liberation Mono, DejaVu Sans Mono, monospace, monospace;
    font-size: 16px;
    line-height: 1.4;
    margin: 40px auto;
    max-width: 800px;
    background: #333333;
    color: #cccccc;
}

pre {
    background-color: #222222;
    color: #99cc66;
    padding: 1em;
    overflow: auto;
    border: 0;
}

a, a:active {
    color: #ccff99;
}

a:visited {
    color: #999999;
}

    h1, h2, h3, h4, h5 {
    font-size: 100%;
    color: #cc99ff;
    margin-bottom: .1rem;
}

blockquote {
    border-left: 1px solid #cccccc;
    font-family: Hermit, Liberation Mono, DejaVu Sans Mono, monospace, monospace;
}

code {
    background-color:#EEEEEE;
    font-family: Hermit, Liberation Mono, DejaVu Sans Mono, monospace, monospace;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li:before {
    content: "-";
    padding-right: 8px;
}

@media only screen and (max-device-width: 736px) {
      body {
              padding: 3px 25px;
      }
}
