::selection {
    background: #cc6699;
}

body {
    font-family: monospace, monospace;
    font-size: 16px;
    line-height: 1.4;
    margin: 40px auto;
    max-width: 800px;
    background: #333333;
    color: #cccccc;
}

pre {
    background-color: #222222;
    color: #99cc66;
    padding: 1em;
    overflow: auto;
    border: 0;
}

a, a:active {
    color: #ccff99;
}

a:visited {
    color: #999999;
}

    h1, h2, h3, h4, h5 {
    font-size: 100%;
    color: #cc99ff;
    margin-bottom: .1rem;
}

blockquote {
    border-left: 1px solid #cccccc;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li:before {
    content: "-";
    padding-right: 8px;
}

@media only screen and (max-device-width: 736px) {
      body {
              padding: 10px 25px;
      }
}
